:root{
    --value: calc(5rem + 5*((100vw - 320px) / 1620));
    --word-padding: calc(var(--value)/2);
}
@media (max-width: 768px) {
    :root{
        --value: calc(3rem + 3*((100vw - 320px) / 1620));
        --word-padding: calc(var(--value)/2);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
}
#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#text{
    background-color: transparent;
    max-width: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: var(--value);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    line-height: 10rem;
}
.word{
    flex-grow: 1;
    display: block;
    width: max-content;
    padding: 0 var(--word-padding) 0 var(--word-padding) ;
    background-color: #000;
}
.space{ 
    min-width: 30vw;
    flex-grow: 2;
    display: block;
    background-color: transparent;
    position: relative;
}
.space::before, .space::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2rem;
    background-color: #000;
    left: 0;
}
.space::before{
    top: 0;
}
.space::after{
    bottom: 0;
}

#black-screen{
    background-color: #000;
    flex-grow: 1;
}