:root{
    --value: calc(2rem + 48*((100vw - 320px) / 1620));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
}
#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#text2{ display: none;}
.text{
    background-color: transparent;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: var(--value);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.text-line{
    display: flex;
    flex-direction: row;
}
.word{
    flex-grow: 1;
    display: block;
    width: max-content;
    background-color: #000;
}
.space{ 
    flex-grow: 2;
    display: block;
    background-color: transparent;
    position: relative;
}
.space::before, .space::after{
    position: absolute;
    content: '';
    width: 100%;
    height: calc(var(--value)/4);
    background-color: #000;
    left: 0;
}
.space::before{
    top: 0;
}
.space::after{
    bottom: 0;
}

#black-screen{
    background-color: #000;
    flex-grow: 1;
}
@media (max-width: 800px) {
    #text2{ display: block;}
    #text1{ display: none;}
}